@{
    ViewBag.Title = "Quản lý tỉnh thành";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using Stanford_ShopGolf.Areas.Admin.Models
@using Stanford_ShopGolf.Areas.Admin.CommonAdmin
@*Xử lý kiểm tra quyền*@
@{
    KiemTraQuyenChucNang.Instance.CheckPermission(ConstantData.ChucNangPhanMem.QuanLyVaiTro);
    bool isAdd = KiemTraQuyenChucNang.Instance.isThem;
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Quản lý tỉnh thành</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Shop Golf</li>
        <li class="breadcrumb-item active"><a href="#">Tỉnh thành</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title">
                <div class="row">
                    <strong class="col-9 ">Danh sách tỉnh thành</strong>
                    @if (isAdd)
                    {
                        <div class="col-3" style="text-align:right;">
                            <span class="btn btn-primary" onclick="Add()">Thêm mới</span>
                        </div>
                    }
                </div>
            </div>
            <div class="tile-body">
                <div id="loadttable">
                </div>
            </div>
        </div>
    </div>
</div>
@*Modals thêm mới*@
<div class="modal fade" id="ModalTT" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Medium Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tile-body" id="tile-body">
                    <div class="form-group row">
                        <label class="control-label col-md-3">Quốc gia <span style="color:red">(*)</span></label>
                        <div class="col-md-9">
                            @Html.DropDownList("ddlQuocGia", (List<SelectListItem>)ViewBag.ddlQuocGia, "---Chọn quốc gia---", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">

                        <input type="hidden" id="isInsert" />
                        <label class="control-label col-md-3">Mã tỉnh thành <span style="color:red">(*)</span></label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" id="txtcodeTT" placeholder="Nhập mã tỉnh thành">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">Tên tỉnh thành <span style="color:red">(*)</span></label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" id="txtnameTT" placeholder="Nhập tên tỉnh thành">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-3">Mã bưu điện </label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" id="txtBuuDien" placeholder="Nhập mã bưu điện">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">Ưu tiên </label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" id="txtUuTien" placeholder="Nhập độ ưu tiên" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave" onclick="save()">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
@*End Modal thêm mới*@
<script>
    //Hàm load bảng
    const LoadTable = () => LoadAjaxContent('@Url.Action("LoadTableTinhThanh","TinhThanh")', "#loadttable")

    $(function () {
        LoadTable()
    })

    function save() {
        validate()
        if (FormModalIsValid) {
            let isAdd = $('#isInsert').val();
            let urlAction = '';
            if (isAdd < 0) {
                urlAction = '@Url.Action("Create","TinhThanh")'
            } else {
                urlAction = '@Url.Action("Update","TinhThanh")'
            }
            let name = $('#txtnameTT').val();
            let code = $('#txtcodeTT').val();
            let bd = $('#txtBuuDien').val();
            let ddlQG = $('#ddlQuocGia').val();
            let ordername = $('#txtUuTien').val();
            const data = {
                TenTinh: name,
                SapXep: ordername,
                id: isAdd,
                MaTinh: code,
                QuocGiaId: ddlQG,
                MaBuuDien:bd
            }
            loadingStart()
            $.ajax({
                url: urlAction,
                data: JSON.stringify(data),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    loadingStop()
                    if (data.Success) {
                        $("#ModalTT").modal("hide")
                        LoadTable()
                        $.notify({
                            title: "Hoàn thành thao tác :",
                            message: data.Message,
                            icon: 'fa fa-check'
                        }, {
                                type: "success"
                        });
                    }
                    else {
                        $('#tile-body').nextAll(".spanError").remove();
                        $('#tile-body').after('<div class="alert alert-dismissible alert-danger spanError">'+data.Message+'</div>')
                    }
                },
                error: function (error) {
                    loadingStop()
                    $.notify({
                        title: "Có lỗi xảy ra : ",
                        message: error,
                        icon: 'fa fa-check'
                    }, {
                            type: (data.Success? "success":"danger")
                        });
                }
            });
        }
    }
    function Add() {
        //làm mới input
        $('#txtnameTT').val('')
        $('#ddlQuocGia').val('')
        $('#txtcodeTT').val('')
        $('#txtBuuDien').val('')
        $('#txtUuTien').val('')
        $('#isInsert').val('-1')
        //Xóa lỗi
        ClearError('#txtnameTT')
        ClearError('#ddlQuocGia')
        ClearError('#txtcodeTT')
        $('#tile-body').nextAll(".spanError").remove()
        $('#mediumModalLabel').html('Thêm mới tỉnh thành')
        $('#btnSave').html('Thêm mới')
        $("#ModalTT").modal({ backdrop: "static" })
    }
    function Edit(id) {
        $('#isInsert').val(id)
        ClearError('#txtnameTT')
        ClearError('#ddlQuocGia')
        ClearError('#txtcodeTT')
        $('#tile-body').nextAll(".spanError").remove();

        $.ajax({
            url: '@Url.Action("GetObjToEdit","TinhThanh")'+ `?id=${id}`,
            type: 'GET',
            success: function (data) {
                if (data.Success) {
                    $('#btnSave').html('Cập nhật');
                    $('#ddlQuocGia').val(data.Data.QuocGiaId)
                    $('#txtnameTT').val(data.Data.TenTinh)
                    $('#txtcodeTT').val(data.Data.MaTinh)
                    $('#txtBuuDien').val(data.Data.MaBuuDien)
                    $('#txtUuTien').val(data.Data.SapXep)

                    $('#mediumModalLabel').html('Chỉnh sửa tỉnh thành')

                    //hiện modal
                    $("#ModalTT").modal({ backdrop: "static" })
                }
                else {
                    debugger
                    swal("Có lỗi", data.Message, "error");
                }
            },
            error: function (result, textStatus, errorThrown) {
                debugger
                swal("Có lỗi", "Error:" + errorThrown + " - " + textStatus + " - " + result, "error");
            },
        });

    }
    function validate() {
        FormModalIsValid = true
        ClearError('#txtnameTT')
        ClearError('#ddlQuocGia')
        ClearError('#txtcodeTT')
        ValidateRequireControl('#ddlQuocGia', 'Bạn phải nhập quốc gia')
        ValidateRequireControl('#txtnameTT', 'Bạn phải nhập tên tỉnh thành')
        ValidateRequireControl('#txtcodeTT', 'Bạn phải nhập mã tỉnh thành')
    }

    function Delete(id) {
        swal({
            title: "Bạn có chắc muốn xóa?",
            text: "Bạn sẽ không thể phục hồi lại vai trò này!",
            showCancelButton: true,
            confirmButtonText: "Đồng ý",
            cancelButtonText: "Hủy bỏ",
            closeOnConfirm: false,
            closeOnCancel: true
        }, function (isConfirm) {
                if (isConfirm) {
                $.ajax({
                    url: '@Url.Action("delete","TinhThanh")' + `?id=${id}`,
                    type: 'POST',
                    success: function (data) {
                        if (data.Success) {
                            swal("Đã xóa!", data.Message, "success");
                            LoadTable()
                        }
                        else {
                            swal("Có lỗi", data.Message,"error");
                        }
                    },
                    error: function (error) {
                        swal("Có lỗi", error,"error");
                    },
                    cache: false,
                    processData: false,
                    contentType: false
                });

                }
        });
    }
</script>