@model IEnumerable<Stanford.ShopGolf.Business.Entity.Menu>
@using Stanford_ShopGolf.Areas.Admin.Models
@using Stanford_ShopGolf.Areas.Admin.CommonAdmin
@using Stanford_ShopGolf.Extensitions
@{
    Layout = null;
    //Xử lý kiểm tra quyền sử dụng
    KiemTraQuyenChucNang.Instance.CheckPermission(ConstantData.ChucNangPhanMem.QuanLyVaiTro);
    bool isEdit = KiemTraQuyenChucNang.Instance.isSua;
    bool isDelete = KiemTraQuyenChucNang.Instance.isXoa;
}
<div class="table-responsive">
    <table class="table table-hover table-bordered" id="menuTable">
        <thead class="text-md-center">
            <tr>
                <th>
                    Tên item
                </th>

                <th>
                    Mô tả
                </th>
                <th>
                    Liên kết/Chủ đề
                </th>
                <th>
                    Cấp cha
                </th>

                <th>
                    Ưu tiên
                </th>
                @if (isEdit == true || isDelete == true)
                {
                    <th width="40px">Xử lý</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                    <td>
                        @if (item.ChuDeId.HasValue)
                        {
                            <span>@Html.LayTenChuDe(item.ChuDeId.Value)</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Link)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SapXep)
                    </td>

                    @if (isEdit == true || isDelete == true)
                    {
                        <td class="text-md-center" width="30px">
                            @if (isEdit)
                            {
                                <a href="#" onclick="Edit(@item.Id)"><i class="fa fa-pencil-square-o"></i></a>}

                            @if (isDelete)
                            {
                                @:&nbsp;&nbsp;| &nbsp;
                                <a href="#" onclick="Delete(@item.Id)"><i class="fa fa-trash-o"></i></a>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Data table plugin-->
<script type="text/javascript">$('#menuTable').DataTable();</script>

