@using Stanford_ShopGolf.ViewModels
@model CategoryViewModel
@Html.Partial("BreadCrumb", Model)
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-2 col-sm-12 col-md-3">
            @Html.Partial("Product.List.FilterAttributes", Model.SideBars)
        </div>
        <div class="col-12 col-lg-10 col-sm-12 col-md-9">
            <div class="category-block">
                <h1 class="title">@Model.Title</h1>

                @if (Model.ShowProducts)
                {
                    @Html.Partial("Product.List.Filter", Model.TotalItem)
                    @Html.Partial("Product.List", Model.Products)
                }
                @if (Model.ShowDescription)
                {
                    <div class="description">
                        @Model.Description
                    </div>
                }
                @*@if (Model.ShowSubcategories)
                    {Html.Partial("Product.List")}*@
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="pageSize" value="@Model.TotalPage" id="txtToTalPageHidden" />
<div class="modal fade" id="quickViewProduct">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>