<head>
    @{ 
        ViewBag.Title = "Smart Golf";
    }
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Trang chủ</title>
    <meta name="keywords" content="@ViewBag.Keywords"/>
    <meta name="description" content="@ViewBag.Description"/>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
</head>
