@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        
        <li>
            @Html.ActionLink("Xin chào !", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();">Đăng xuất</a></li>
        <li>
            @Html.Partial("CartMenu")
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        
        <li>@Html.ActionLink("Đăng ký", "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
        <li>
            @Html.Partial("CartMenu")
        </li>
    </ul>
}
